#button{
    display: inline-block;
    height:20px;
	width:70px;
	background-color:#d8d504;
	font-family:arial;
	font-weight:bold;
	color:#ffffff;
	border-radius: 5px;
	text-align:center;
	margin-top:2px;
}

#table, th, td {
    border: 2px solid black;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background: #d8ffef;
}

/* Style the list */
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color: #ddd;}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {background-color: #ccc;}

/* Style the tab content */
.tabcontent {
    display: block;
    padding: 6px 12px;
    border-top: none;
	width: 100%;
	overflow: auto;
}

.tabcontent {
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

/*
#adeGraph{
	height: 600px;
	width: 600px;
}
#outcomeGraph{
	height: 600px;
	width: 600px;
}

#ageGraph{
	height: 600px;
	width: 600px;
}

#sexGraph{
	height: 600px;
	width: 600px;
}


*/